<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Less New Autos | Auto Details</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Less New Autos: See Details About Your Car</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/vehicles/browse">Browse Vehicles</a></li>
            <li><a href="/vehicles/details">Vehicle Details</a></li>
            <li><a href="#">Log In</a></li>
        </ul>
    </nav>
    <p> Autos Details Here</p>
</body>
</html>