<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Less New Autos | About Us Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>ABOUT US: Less New Autos</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/vehicles/browse">Browse Vehicles</a></li>
            <li><a href="/vehicles/details">Vehicle Details</a></li>
            <li><a href="/src/views/logIn/login.html">Log-In</a></li>
            <li><a href="#">Leave A Review</a>
            <li><a href="#">Create</a>
            <li><a href="#"></a>
        </ul>
    </nav>
    <p>Less New Autos About Us Page</p>
</body>
</html>