<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>Welcome to my Express application! This site demonstrates the power of templating engines.</p>
    <img src="https://picsum.photos/600/400" alt="Random image">
    <p>BUT this time its a Less New Car Web Application</p>
</main>
<%- include('partials/footer') %>