<%- include('partials/header') %>
<main>
    <h1>Less New Autos: Autos</h1>
    <p>We are currently awaiting the new shipment of vehicles... Come back soon</p>
    <img src="https://i.ibb.co/ZzdMNsgJ/car-keys.jpg" alt="car keys" border="0"></a>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="./vehicles/browse">Browse Vehicles</a></li>
            <li><a href="./vehicles/details.ejs">Vehicle Details</a></li>
            <li><a href="#">Log In</a></li>
        </ul>
    </nav>
    <p>Products Autos Here</p>
</main>
<%- include('partials/footer') %>