<%- include('/partials/header') %>

<h1>Inquiry Sent</h1>
<p>Thanks. Your inquiry has been received. We will contact you soon.</p>
<p><a href="/products">Back to products</a></p>

<%- include('/partials/footer') %>
